<div class="container-fluid">
    <div class="row">
        <div class="col p-2 d-none d-lg-block">
            <app-home-hashtags></app-home-hashtags>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="row pt-2 position-sticky">
                <div class="col-12">
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="button button-1">New Post</div>  
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 blog-list">
                    <app-available-blogs></app-available-blogs>
                </div>
            </div>
        </div>
        <div class="col p-2 d-none d-sm-block">
            <div class="card right-card">
                <div class="card-body">
                    <app-latest-post></app-latest-post>
                    <!-- <app-trending-now></app-trending-now> -->
                </div>
            </div>
        </div>
    </div>
</div>