
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <img
            src="assets/images/author_dp.png"
            alt="..."
            class="img-thumbnail author-dp"
          />
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-12">
        <div class="text-center"><p class="h1 author-name">Amal Anush</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <blockquote class="blockquote text-center">
          <p class="mb-0">
            An Innovative developer having a long term vision towards building
            products and believing in clean and scalable code.
          </p>
          <footer class="blockquote-footer">
            Its more than enough <cite title="Source Title">Right ?  😉</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mb-3 ">
      <div class="flex-container">
        <button type="button" class="btn btn-outline-primary ml-1 d-none d-sm-block">
          About Me
          <i class="fas fa-male"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary ml-2">
          Projects
          <i class="fas fa-project-diagram"></i>
        </button>
        <button type="button" class="btn btn-outline-danger ml-2">
          Hands On
          <i class="fas fa-code"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary ml-2" (click) = "viewBlogs()">
          Blogs
          <i class="fas fa-blog"></i>
        </button>
      </div>
    </div>
  </div>
</div>
