<div class="row">
    <div class="col-12">
        <div class="card blog-card mt-2" style="cursor: pointer;" *ngFor="let blog of blogs">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-9 col-sm-12">
                        <h1 class="card-title">
                            Adding local storage in an angular Application Similar to React
                            Adding local storage in an angular Application Similar to React
                            Adding local storage in an angular Application Similar to React
                        </h1>
                        <div class="mb-1 text-muted">Nov 11, 2020 By Amal Anush</div>
                        <p class="card-text pt-2">
                            With supporting text below as a natural lead-in to additional content.
                            With supporting text below as a natural lead-in to additional content.
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#">Read more . . </a>
                    </div>
                    <div class="col-3 d-none d-lg-block img-col">
                        <img src="https://picsum.photos/200/300?grayscale" alt="..." class="blog-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>