<nav class="navbar  navbar-expand-lg navbar-dark bg-dark d-flex">

  <div class="mr-auto">
    <a class="navbar-brand" style="color: azure;">
      <i class="fab fa-autoprefixer fa-2x d-inline-block"></i>
      <span class="site-name">Know Amal?</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="isUserLoggedIn == false" (click)="signIn()" type="submit">Sign in</button>
  <img [src]="user.photoUrl" class="user-img" *ngIf="isUserLoggedIn" alt="Person" width="96" height="96"
    data-toggle="dropdown">
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a>
    <a class="dropdown-item" href="#">Help</a>
  </div>
</nav>